html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* flexbox */
.flex-container {
    width: 80%;
    margin: 0 auto;
}

.flex-row {
    display: flex;
}

@media (max-width: 400px) {
    .flex-row {
        flex-direction: column;
    }
}

.flex-item {
    flex: 1 1 0;
    position: relative;
    margin: 20px 0 20px 20px;
}

.flex-row[data-margin="0"] .flex-item,
.flex-row[data-margin="0"] .flex-item:last-child {
    margin: 0;
}

div[data-layout="column"] {
    display: flex;
    flex-direction: column;
}

/* all evenly distributed cols */
.flex-row .flex-item {
    flex: 1 1 0;
    position: relative;
    margin: 20px 0 20px 20px;
}

.flex-row .flex-item:last-child {
    margin-right: 20px;
}

.flex-item .flex-row .flex-item {
    margin-top: 0;
}

.flex-item[data-weight="2"]{
    flex: 2 2 40px;
}

.flex-item[data-weight="3"]{
    flex: 3 3 40px;
}

.flex-item[data-weight="4"]{
    flex: 4 4 40px;
}

/*-----------------------------------------------------------------------------------*\
    #Tooltip 
\*-----------------------------------------------------------------------------------*/
.tooltip {
    position: absolute;
    padding: 8px;
    background: rgba(255, 2555, 255, 0.75);
    color: #000;    
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    font: 12px sans-serif;
    line-height: auto;
    pointer-events: none;
}

.tooltip p {
    margin-bottom: 3px;
}

.tooltip td {
    padding: 3px;
}

/*-----------------------------------------------------------------------------------*\
    #Market / Properties
\*-----------------------------------------------------------------------------------*/

.location-info-box {
    display: none;
}

.location-info-box h2,
.location-info-box h3,
.location-info-box h6 {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    letter-spacing: 2px;
}

.location-info-box h2 {
    color: #00b3f0;
    font-size: 22px;
    font-weight: 900;
    line-height: 32px;
    text-transform: uppercase;
}

.location-info-box h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.location-info-box a,
.location-info-box a:hover,
.location-info-box a:active,
.location-info-box a:focus {
    color: #292929;
    color: #00b3f0;
    text-decoration: none;
}

.location-info-box h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}